@{
    ViewBag.Title = "Informativa sulla privacy";
}

<div class="page-container">
    <h3>
        <a style="text-decoration:none" href="@Url.Action("Index", "Home")">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
            </svg>
        </a>
        - @ViewBag.Title
    </h3>

    <section>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id ligula lorem. Nullam auctor sapien dui, eu ornare diam tincidunt id. Sed ut arcu dictum, placerat risus ac, feugiat enim. Curabitur mattis risus id sem sagittis iaculis. Quisque sit amet risus quis leo cursus gravida nec quis orci. Pellentesque accumsan elit sed mi bibendum, eu posuere augue rhoncus. Morbi molestie odio a enim lobortis, nec luctus metus viverra. Ut nec mattis magna. Duis convallis nisi vitae mattis aliquet. Aliquam eget nibh nec orci congue tristique sit amet non felis. Phasellus luctus erat ex, eu gravida lectus tempor a. Nam gravida nisi in dolor interdum, ac pretium ligula volutpat.

        Praesent accumsan justo hendrerit nibh vestibulum, in placerat purus dignissim. Morbi in diam consectetur, vulputate mi nec, tristique nulla. Pellentesque dictum efficitur dolor at hendrerit. Vestibulum cursus, dolor at sagittis maximus, ipsum lectus sodales urna, vitae congue erat est sit amet eros. Ut auctor, purus at tincidunt pulvinar, augue nisl ultricies justo, in bibendum nisl ligula sit amet ipsum. Etiam nec ipsum eget lorem sagittis consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc lacinia in dui nec sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sit amet fringilla ligula. Nam vulputate mauris vel velit lobortis vulputate. Nunc vehicula nunc vitae ante accumsan, a gravida libero varius.
    </section>
</div>
