@{
    ViewBag.Title = "Termini e condizioni di vendita";
}

<div class="page-container">
    
    <section>
        <h4>Termini e condizioni di vendita</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id ligula lorem. Nullam auctor sapien dui, eu ornare diam tincidunt id. Sed ut arcu dictum, placerat risus ac, feugiat enim. Curabitur mattis risus id sem sagittis iaculis. Quisque sit amet risus quis leo cursus gravida nec quis orci. Pellentesque accumsan elit sed mi bibendum, eu posuere augue rhoncus. Morbi molestie odio a enim lobortis, nec luctus metus viverra. Ut nec mattis magna. Duis convallis nisi vitae mattis aliquet. Aliquam eget nibh nec orci congue tristique sit amet non felis. Phasellus luctus erat ex, eu gravida lectus tempor a. Nam gravida nisi in dolor interdum, ac pretium ligula volutpat.
    </section>
</div>
